.pageheading {
    padding: 0;
    margin: 0;
    height: 9rem;
    width: 100vw;
    background: $darker-bg;

    .pageheadingTitle {
        padding: 5rem 0 0 2rem;
        color: getTextColor($darker-bg);
    }
}